div {
  width: 100px;
  height: 100px;
  background-color: #7655aa;
  text-align: center;
  line-height: 100px;
}

.parent {
  background-color: red;
}

.absolute {
  position: absolute;
  top: 50px;
  left: 50px;
}

.relative {
  position: relative
}

.relative-move {
  position: relative;
  bottom: 30px;
  right: 30px;
}

.fixed {
  width: 100%;
  position: fixed;
  bottom: 0;
  left:0;
}

body {
  height: 10000px;
}

.zindex {
  z-index: 3;
}